{% extends "base.html" %}

{% block content %}
<h1>Play Boggle</h1>
<table>
<tbody class="boggle-board">

   {% for arr in gameBoard %}
      <tr>
         {% for value in arr%}
         <td class="boggle-cell">{{ value }}</td>
         {% endfor%}
      </tr>
   {% endfor %}

</tbody>
</table>

<form action="/submit" method="post">
   <input type="hidden" name="gameBoard" value="{{ gameBoard }}">
   <input type="text", name="input">
   <button type="submit">Submit</button>
</form>

{% endblock%}
